.card {

    height: 500px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px 1px rgb(95, 172, 172);

}

card-img-top {

    height: 90px;
    display: flex;
}

.description-container{
    height: 100px;
    text-align: justify;
}


.Voluntario {

    border-radius: 50%;
}

.card-text-date {

    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 25px;
}

.card-text-cupons {

    font-weight: 500;
}

.campo-modal-voluntario {

    padding-bottom: 10px;
    display: flex;

   
}


  


.imput-campo-modal-voluntario {

    width: 60%;

    margin-left: auto;
    margin-right: auto;
}


.modal-voluntario {

    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;

}





