.ProjectList {

    padding-top: 100px;
}



.NameProjectCard{
    color:darkslategrey;
    font-size:20px;
    text-align: left;

}

.DescriptionProjectCard{
    text-align: left;
    padding-top: 5px;
}

.GoToProject{
    text-align: left;
    padding-top: 30px;
}

.card-h{
   border-radius: 10px;
    width: 1000px;
    height: auto;
    padding: 50px;
    background-color: rgba(222, 217, 241, 0.801);
    
}

