.col-8 {
    text-align: left;
    font-size: 25px;
    font-weight: 500;

}

.input-group{
 
    margin-right: 20px;
    padding-right: 130px;

}


.Searchlist {
    margin-top: 60px;
    margin-left: 100px;
}